[submodule "submodules/moduleA"]
	path = submodules/moduleA
	url = https://github.com/VicccccW/submodule-demo-mono.git
	branch = moduleA/v1.0.0
[submodule "submodules/moduleB"]
	path = submodules/moduleB
	url = https://github.com/VicccccW/submodule-demo-mono.git
	branch = moduleB/v1.0.0
